Repository knative/eventing, pull requests merged in 2019-09, with the labels that each got.

#1792 golang format tools
  pkg/broker/ingress/stats_reporter.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/XS

#1793 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/Gopkg.lock
  vendor/knative.dev/pkg/OWNERS_ALIASES
  vendor/knative.dev/pkg/injection/informers/kubeinformers/batchv1beta1/cronjob/cronjob.go
  vendor/knative.dev/pkg/injection/informers/kubeinformers/batchv1beta1/cronjob/fake/fake.go
  vendor/knative.dev/pkg/reconciler/testing/table.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/L

#1673 Channel spec updates based on comments on #1669.
  docs/spec/channel.md
Labels: approved, cla: yes, lgtm, size/M

#1797 Auto-update dependencies
  Gopkg.lock
  pkg/client/injection/informers/eventing/factory/eventingfactory.go
  pkg/client/injection/informers/eventing/factory/fake/fake.go
  pkg/client/injection/informers/messaging/factory/fake/fake.go
  pkg/client/injection/informers/messaging/factory/messagingfactory.go
  pkg/client/injection/informers/sources/factory/fake/fake.go
  pkg/client/injection/informers/sources/factory/sourcesfactory.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/factory.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/fakefactory.go
  vendor/knative.dev/pkg/injection/context.go
  vendor/knative.dev/pkg/injection/doc.go
  vendor/knative.dev/pkg/injection/informers/apiextinformers/factory/factory.go
  vendor/knative.dev/pkg/injection/informers/apiextinformers/factory/fake/fake.go
  vendor/knative.dev/pkg/injection/informers/kubeinformers/factory/factory.go
  vendor/knative.dev/pkg/injection/informers/kubeinformers/factory/fake/fake.go
  vendor/knative.dev/pkg/test/clients.go
  vendor/knative.dev/pkg/test/request.go
  vendor/knative.dev/pkg/test/spoof/spoof.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/L

#1796 golang format tools
  pkg/broker/filter/filter_handler_test.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/XS

#1799 Format markdown
  docs/spec/channel.md
Labels: approved, cla: yes, lgtm, ok-to-test, size/S

#1800 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/Gopkg.lock
  vendor/knative.dev/pkg/client/injection/informers/authentication/factory/authenticationfactory.go
  vendor/knative.dev/pkg/client/injection/informers/authentication/factory/fake/fake.go
  vendor/knative.dev/pkg/client/injection/informers/istio/factory/fake/fake.go
  vendor/knative.dev/pkg/client/injection/informers/istio/factory/istiofactory.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/M

#1801 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/Gopkg.lock
  vendor/knative.dev/pkg/test/clients.go
  vendor/knative.dev/pkg/test/ghutil/client.go
  vendor/knative.dev/pkg/test/ghutil/fakeghutil/fakeghutil.go
  vendor/knative.dev/pkg/test/ghutil/issue.go
  vendor/knative.dev/pkg/test/ghutil/pullrequest.go
  vendor/knative.dev/pkg/test/mako/alerter/github/issue.go
  vendor/knative.dev/pkg/test/mako/alerter/slack/message.go
  vendor/knative.dev/pkg/test/prometheus/prometheus.go
  vendor/knative.dev/pkg/test/request.go
  vendor/knative.dev/pkg/test/slackutil/messaging.go
  vendor/knative.dev/pkg/test/spoof/spoof.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/XXL

#1802 Adding back function that is actually used by Natss/Kafka channels
  pkg/channel/message_receiver.go
Labels: approved, cla: yes, lgtm, size/XS

#1803 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/reconciler/testing/context.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/S

#1798 use the amdission controller interface for webhook
  Gopkg.lock
  cmd/webhook/main.go
  vendor/knative.dev/pkg/webhook/resource_admission_controller.go
  vendor/knative.dev/pkg/webhook/webhook.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/L

#1787 Latency test image with Vegeta
  Gopkg.lock
  Gopkg.toml
  test/common/cloudevents_vegeta_targeter.go
  test/performance/broker-latency/broker-latency-setup.yaml
  test/performance/broker-latency/broker-latency.yaml
  test/test_images/latencymako/README.md
  test/test_images/latencymako/dev.config
  test/test_images/latencymako/kodata/HEAD
  test/test_images/latencymako/kodata/dev.config
  test/test_images/latencymako/kodata/refs
  test/test_images/latencymako/main.go
  third_party/VENDOR-LICENSE
  vendor/github.com/influxdata/tdigest/LICENSE
  vendor/github.com/influxdata/tdigest/centroid.go
  vendor/github.com/influxdata/tdigest/tdigest.go
  vendor/github.com/mailru/easyjson/LICENSE
  vendor/github.com/mailru/easyjson/buffer/pool.go
  vendor/github.com/mailru/easyjson/jlexer/bytestostr.go
  vendor/github.com/mailru/easyjson/jlexer/bytestostr_nounsafe.go
  vendor/github.com/mailru/easyjson/jlexer/error.go
  vendor/github.com/mailru/easyjson/jlexer/lexer.go
  vendor/github.com/mailru/easyjson/jwriter/writer.go
  vendor/github.com/tsenart/vegeta/LICENSE
  vendor/github.com/tsenart/vegeta/lib/attack.go
  vendor/github.com/tsenart/vegeta/lib/histogram.go
  vendor/github.com/tsenart/vegeta/lib/metrics.go
  vendor/github.com/tsenart/vegeta/lib/pacer.go
  vendor/github.com/tsenart/vegeta/lib/reporters.go
  vendor/github.com/tsenart/vegeta/lib/results.go
  vendor/github.com/tsenart/vegeta/lib/results_easyjson.go
  vendor/github.com/tsenart/vegeta/lib/targets.go
  vendor/github.com/tsenart/vegeta/lib/targets_easyjson.go
Labels: approved, area/performance, area/test-and-release, cla: yes, lgtm, size/XXL

#1661 ApiServerSource now supports setting a label selector
  cmd/apiserver_receive_adapter/main.go
  config/300-apiserversource.yaml
  pkg/adapter/apiserver/adapter.go
  pkg/adapter/apiserver/adapter_test.go
  pkg/apis/sources/v1alpha1/apiserver_types.go
  pkg/apis/sources/v1alpha1/zz_generated.deepcopy.go
  pkg/reconciler/apiserversource/resources/receive_adapter.go
  pkg/reconciler/apiserversource/resources/receive_adapter_test.go
  test/base/resources/kube.go
  test/common/validation.go
  test/e2e/source_api_server_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/L

#1808 Fixed development doc
  DEVELOPMENT.md
Labels: approved, cla: yes, lgtm, ok-to-test, size/S

#1810 Format markdown
  test/test_images/latencymako/README.md
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/S

#1809 Add check for event extensions sending
  test/test_images/sendevents/main.go
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/S

#1806 Setting Broker label to Triggers in the Webhook
  pkg/apis/eventing/v1alpha1/trigger_defaults.go
  pkg/apis/eventing/v1alpha1/trigger_defaults_test.go
  pkg/broker/filter/filter_handler.go
Labels: approved, cla: yes, lgtm, size/M

#1811 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/test/logstream/kubelogs.go
  vendor/knative.dev/pkg/websocket/connection.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/S

#1825 Broker latency test improvements
  test/performance/broker-latency/broker-latency.yaml
  test/test_images/latencymako_aggregator/event_state/event_state.pb.go
  test/test_images/latencymako_aggregator/event_state/event_state.proto
  test/test_images/latencymako_aggregator/main.go
  test/test_images/latencymako_sender_receiver/README.md
  test/test_images/latencymako_sender_receiver/main.go
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/L

#1826 Format markdown
  DEVELOPMENT.md
Labels: approved, cla: yes, lgtm, ok-to-test, size/XS

#1782 Add E2E test for default channel
  pkg/defaultchannel/channel_defaulter.go
  pkg/defaultchannel/channel_defaulter_test.go
  test/base/resources/constants.go
  test/common/creation.go
  test/common/typemeta.go
  test/e2e/channel_defaulter_test.go
  test/e2e/helpers/channel_defaulter_test_helper.go
  test/performance/latency_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#1828 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/test/clients.go
  vendor/knative.dev/pkg/test/request.go
  vendor/knative.dev/pkg/test/spoof/spoof.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/coveragecalculator/calculator.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/coveragecalculator/coveragedata.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/tools/tools.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/view/aggregate_coverage.html
  vendor/knative.dev/pkg/test/webhook-apicoverage/view/html_display.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/view/type_coverage.html
  vendor/knative.dev/pkg/test/webhook-apicoverage/webhook/apicoverage_recorder.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/L

#1830 eventing test work with go1.13
  test/e2e_flags.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#1832 Fix wrong received timestamp in latency test
  test/test_images/latencymako_sender_receiver/main.go
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/S

#1813 Conformance test channel headers 2
  test/base/resources/kube.go
  test/common/operation.go
  test/conformance/README.md
  test/conformance/alias.go
  test/conformance/header_test.go
  test/conformance/helpers/channel_header_single_event_helper.go
  test/e2e-tests.sh
  test/test_images/eventdetails/README.md
  test/test_images/eventdetails/main.go
  test/test_images/sendevents/main.go
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/L

#1834 Remove dushyanthsc and coryrc as productivity-reviewers
  OWNERS_ALIASES
Labels: approved, cla: yes, lgtm, size/XS

#1836 Fix the test flag parse issue
  test/conformance/main_test.go
  test/e2e/main_test.go
  test/e2e_flags.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/M

#1786 Adding data plane metrics to ApiServerSource
  Gopkg.lock
  cmd/apiserver_receive_adapter/main.go
  config/monitoring/metrics/prometheus/100-prometheus-scrape-kn-eventing.yaml
  pkg/adapter/apiserver/adapter.go
  pkg/adapter/apiserver/adapter_test.go
  pkg/adapter/apiserver/ref.go
  pkg/adapter/apiserver/resource.go
  pkg/adapter/apiserver/stats_reporter.go
  pkg/adapter/apiserver/stats_reporter_test.go
  pkg/broker/filter/filter_handler_test.go
  pkg/reconciler/apiserversource/apiserversource.go
  pkg/reconciler/apiserversource/controller.go
  pkg/reconciler/apiserversource/controller_test.go
  pkg/reconciler/apiserversource/resources/receive_adapter.go
  pkg/reconciler/apiserversource/resources/receive_adapter_test.go
  pkg/utils/config.go
  pkg/utils/config_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/XL

#1839 Format markdown
  test/conformance/README.md
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/XS

#1841 golang format tools
  pkg/apis/eventing/v1alpha1/trigger_defaults_test.go
  test/test_images/latencymako_aggregator/event_state/event_state.pb.go
  test/test_images/latencymako_sender_receiver/main.go
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/S

#1835 Add scripts to recreate and update clusters for bechmarking eventing
  test/performance/tools/README.md
  test/performance/tools/common.sh
  test/performance/tools/recreate_clusters.sh
  test/performance/tools/update_clusters.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#1847 Remove unnecessary mako constraint
  Gopkg.toml
Labels: approved, cla: yes, lgtm, size/XS

#1831 Re-arrange the broker-latency benchmark files to run them continously
  test/performance/broker-latency/config-mako.yaml
  test/performance/broker-latency/dev.config
  test/performance/broker-latency/event_state/event_state.pb.go
  test/performance/broker-latency/event_state/event_state.proto
  test/performance/broker-latency/kodata/HEAD
  test/performance/broker-latency/kodata/dev.config
  test/performance/broker-latency/kodata/event_state
  test/performance/broker-latency/kodata/prod.config
  test/performance/broker-latency/kodata/refs
  test/performance/broker-latency/main.go
  test/performance/broker-latency/prod.config
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XL

#1848 Remove spaces
  cmd/apiserver_receive_adapter/main.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/XS

#1844 Do not trace readiness requests.
  pkg/broker/filter/filter_handler.go
Labels: approved, cla: yes, lgtm, size/XS

#1854 Format markdown
  test/performance/tools/README.md
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/XS

#1665 Fix knative path to match the image paths
  DEVELOPMENT.md
Labels: approved, cla: yes, lgtm, ok-to-test, size/XS

#1855 golang format tools
  test/performance/broker-latency/event_state/event_state.pb.go
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/XS

#1851 Fix bugs in perf tools scripts and add docs for Mako ConfigMap
  test/performance/README.md
  test/performance/tools/README.md
  test/performance/tools/common.sh
  test/performance/tools/update_clusters.sh
Labels: approved, area/performance, area/test-and-release, cla: yes, lgtm, size/L

#1852 Address review comments for broker-latency perf test
  test/test_images/latencymako/request_interceptor.go
  test/test_images/latencymako/request_interceptor_test.go
  test/test_images/latencymako/sender_receiver.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#1859 Use the correct path to install in-memory-channel
  test/performance/tools/common.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#1860 Allow the service account to be a benchmark owner
  test/performance/broker-latency/prod.config
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#1853 rename the variable for resource validation webhook
  Gopkg.lock
  cmd/webhook/main.go
  vendor/knative.dev/pkg/Gopkg.lock
  vendor/knative.dev/pkg/controller/controller.go
  vendor/knative.dev/pkg/controller/stats_reporter.go
  vendor/knative.dev/pkg/logging/config.go
  vendor/knative.dev/pkg/metrics/config.go
  vendor/knative.dev/pkg/metrics/metricskey/constants.go
  vendor/knative.dev/pkg/metrics/source_stats_reporter.go
  vendor/knative.dev/pkg/metrics/utils.go
  vendor/knative.dev/pkg/webhook/resource_admission_controller.go
  vendor/knative.dev/pkg/webhook/stats_reporter.go
  vendor/knative.dev/pkg/webhook/webhook.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/L

#1867 Format markdown
  test/performance/README.md
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/XS

#1864 ApiServerSource Updates
  Gopkg.toml
  cmd/apiserver_receive_adapter/main.go
  pkg/adapter/apiserver/adapter.go
  pkg/adapter/apiserver/adapter_test.go
  pkg/adapter/apiserver/ref.go
  pkg/adapter/apiserver/ref_test.go
  pkg/adapter/apiserver/resource.go
  pkg/adapter/apiserver/resource_test.go
  pkg/adapter/apiserver/stats_reporter.go
  pkg/adapter/apiserver/stats_reporter_test.go
  pkg/reconciler/apiserversource/apiserversource.go
  pkg/utils/config.go
  pkg/utils/config_test.go
Labels: approved, cla: yes, lgtm, size/XL

#1866 Latencymako test image fixes
  test/common/cloudevents_vegeta_targeter.go
  test/test_images/latencymako/sender_receiver.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#1881 Updating pkg to latest for 0.9 release.
  Gopkg.lock
  Gopkg.toml
  vendor/knative.dev/pkg/apis/field_error.go
  vendor/knative.dev/pkg/source/source_stats_reporter.go
  vendor/knative.dev/pkg/test/spoof/spoof.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/view/README.md
  vendor/knative.dev/pkg/test/zipkin/util.go
  vendor/knative.dev/pkg/testutils/clustermanager/boskos/boskos.go
  vendor/knative.dev/pkg/testutils/clustermanager/boskos/fake/fake.go
  vendor/knative.dev/pkg/testutils/clustermanager/gke.go
  vendor/knative.dev/pkg/tracing/opencensus.go
Labels: approved, cla: yes, lgtm, size/L

#1877 Broker/Trigger metrics cleanup
  cmd/broker/filter/main.go
  cmd/broker/ingress/main.go
  pkg/broker/filter/filter_handler_test.go
  pkg/broker/filter/stats_reporter.go
  pkg/broker/filter/stats_reporter_test.go
  pkg/broker/ingress/ingress_handler_test.go
  pkg/broker/ingress/stats_reporter.go
  pkg/broker/ingress/stats_reporter_test.go
  pkg/metrics/metricskey/constants.go
  pkg/utils/utils.go
  pkg/utils/utils_test.go
Labels: approved, cla: yes, lgtm, size/XL

#1882 Revert Source to Importer decision.
  cmd/apiserver_receive_adapter/main.go
  cmd/cronjob_receive_adapter/main.go
  config/300-apiserversource.yaml
  config/300-containersource.yaml
  config/300-cronjobsource.yaml
  docs/decisions/discovery-and-faas-support.md
  docs/decisions/reverted-sources-to-importers.md
  docs/mission.md
  pkg/adapter/apiserver/adapter_test.go
  pkg/apis/duck/v1alpha1/resource_types.go
Labels: approved, cla: yes, lgtm, size/M

#1790 Add data plane metrics to CronjobSource
  cmd/cronjob_receive_adapter/main.go
  config/monitoring/metrics/prometheus/100-prometheus-scrape-kn-eventing.yaml
  pkg/adapter/cronjobevents/adapter.go
  pkg/adapter/cronjobevents/adapter_test.go
  pkg/reconciler/cronjobsource/controller.go
  pkg/reconciler/cronjobsource/controller_test.go
  pkg/reconciler/cronjobsource/cronjobsource.go
  pkg/reconciler/cronjobsource/resources/labels.go
  pkg/reconciler/cronjobsource/resources/receive_adapter.go
  pkg/reconciler/cronjobsource/resources/receive_adapter_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, needs-ok-to-test, size/L

#1888 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/test-infra/shared/common/common.go
  vendor/knative.dev/test-infra/shared/gcs/gcs.go
  vendor/knative.dev/test-infra/shared/junit/junit.go
  vendor/knative.dev/test-infra/shared/prow/prow.go
  vendor/knative.dev/test-infra/shared/testgrid/testgrid.go
  vendor/knative.dev/test-infra/shared/testgrid/yaml.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/M

#1887 golang format tools
  pkg/reconciler/cronjobsource/controller_test.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/XS

#1885 Add arbitrary sleep after updating configmap in e2e test for defaultchannel
  test/e2e/helpers/channel_defaulter_test_helper.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#1849 Trigger status depends on importer status
  Gopkg.lock
  config/200-source-resolvers-clusterrole.yaml
  config/201-clusterrolebinding.yaml
  pkg/apis/eventing/v1alpha1/trigger_lifecycle.go
  pkg/apis/eventing/v1alpha1/trigger_lifecycle_test.go
  pkg/apis/eventing/v1alpha1/trigger_types.go
  pkg/apis/eventing/v1alpha1/trigger_validation.go
  pkg/apis/eventing/v1alpha1/trigger_validation_test.go
  pkg/reconciler/testing/cronjobsource.go
  pkg/reconciler/testing/trigger.go
  pkg/reconciler/trigger/controller.go
  pkg/reconciler/trigger/trigger.go
  pkg/reconciler/trigger/trigger_test.go
  third_party/VENDOR-LICENSE
  vendor/github.com/knative/pkg/LICENSE
  vendor/github.com/knative/pkg/apis/duck/cached.go
  vendor/github.com/knative/pkg/apis/duck/doc.go
  vendor/github.com/knative/pkg/apis/duck/enqueue.go
  vendor/github.com/knative/pkg/apis/duck/interface.go
  vendor/github.com/knative/pkg/apis/duck/patch.go
  vendor/github.com/knative/pkg/apis/duck/proxy.go
  vendor/github.com/knative/pkg/apis/duck/register.go
  vendor/github.com/knative/pkg/apis/duck/typed.go
  vendor/github.com/knative/pkg/apis/duck/unstructured.go
  vendor/github.com/knative/pkg/apis/duck/v1alpha1/addressable_types.go
  vendor/github.com/knative/pkg/apis/duck/v1alpha1/condition_set.go
  vendor/github.com/knative/pkg/apis/duck/v1alpha1/conditions_types.go
  vendor/github.com/knative/pkg/apis/duck/v1alpha1/doc.go
  vendor/github.com/knative/pkg/apis/duck/v1alpha1/legacy_targetable_types.go
  vendor/github.com/knative/pkg/apis/duck/v1alpha1/register.go
  vendor/github.com/knative/pkg/apis/duck/v1alpha1/retired_targetable_types.go
  vendor/github.com/knative/pkg/apis/duck/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/knative/pkg/apis/duck/verify.go
  vendor/github.com/knative/pkg/third_party/mako/LICENSE
Labels: approved, cla: yes, lgtm, size/XXL

#1843 Rename Choice to Parallel
  .gitignore
  cmd/controller/main.go
  cmd/webhook/main.go
  config/200-addressable-resolvers-clusterrole.yaml
  config/200-controller-clusterrole.yaml
  config/300-parallel.yaml
  pkg/apis/messaging/v1alpha1/choice_lifecycle.go
  pkg/apis/messaging/v1alpha1/parallel_defaults.go
  pkg/apis/messaging/v1alpha1/parallel_defaults_test.go
  pkg/apis/messaging/v1alpha1/parallel_lifecycle.go
  pkg/apis/messaging/v1alpha1/parallel_lifecycle_test.go
  pkg/apis/messaging/v1alpha1/parallel_types.go
  pkg/apis/messaging/v1alpha1/parallel_types_test.go
  pkg/apis/messaging/v1alpha1/parallel_validation.go
  pkg/apis/messaging/v1alpha1/parallel_validation_test.go
  pkg/apis/messaging/v1alpha1/register.go
  pkg/apis/messaging/v1alpha1/zz_generated.deepcopy.go
  pkg/client/clientset/versioned/typed/messaging/v1alpha1/choice.go
  pkg/client/clientset/versioned/typed/messaging/v1alpha1/fake/fake_choice.go
  pkg/client/clientset/versioned/typed/messaging/v1alpha1/fake/fake_messaging_client.go
  pkg/client/clientset/versioned/typed/messaging/v1alpha1/fake/fake_parallel.go
  pkg/client/clientset/versioned/typed/messaging/v1alpha1/generated_expansion.go
  pkg/client/clientset/versioned/typed/messaging/v1alpha1/messaging_client.go
  pkg/client/clientset/versioned/typed/messaging/v1alpha1/parallel.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/messaging/v1alpha1/interface.go
  pkg/client/informers/externalversions/messaging/v1alpha1/parallel.go
  pkg/client/injection/informers/messaging/v1alpha1/parallel/fake/fake.go
  pkg/client/injection/informers/messaging/v1alpha1/parallel/parallel.go
  pkg/client/listers/messaging/v1alpha1/choice.go
  pkg/client/listers/messaging/v1alpha1/expansion_generated.go
  pkg/client/listers/messaging/v1alpha1/parallel.go
  pkg/reconciler/choice/choice_test.go
  pkg/reconciler/parallel/controller.go
  pkg/reconciler/parallel/controller_test.go
  pkg/reconciler/parallel/parallel.go
  pkg/reconciler/parallel/parallel_test.go
  pkg/reconciler/parallel/resources/channel.go
  pkg/reconciler/parallel/resources/subscription.go
  pkg/reconciler/testing/choice.go
  pkg/reconciler/testing/listers.go
  pkg/reconciler/testing/parallel.go
  test/base/resources/constants.go
  test/common/creation.go
  test/common/typemeta.go
  test/e2e/parallel_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XXL

#1891 Updating metrics documentation
  config/config-observability.yaml
  docs/metrics.md
Labels: approved, cla: yes, lgtm, size/L

#1895 Stop using PrependGenerateNameReactor.
  pkg/reconciler/testing/factory.go
Labels: approved, cla: yes, lgtm, size/XS

#1896 Tests effectively use GenerateName for their Namespace
  Gopkg.lock
  test/common/test_runner.go
  third_party/VENDOR-LICENSE
  vendor/k8s.io/apimachinery/pkg/util/rand/rand.go
  vendor/k8s.io/apiserver/LICENSE
  vendor/k8s.io/apiserver/pkg/storage/names/generate.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XL

#1897 Update status.ObservedGeneration for sources resources when sources r…
  pkg/reconciler/apiserversource/apiserversource.go
  pkg/reconciler/apiserversource/apiserversource_test.go
  pkg/reconciler/containersource/containersource.go
  pkg/reconciler/containersource/containersource_test.go
  pkg/reconciler/cronjobsource/cronjobsource.go
  pkg/reconciler/cronjobsource/cronjobsource_test.go
  pkg/reconciler/testing/apiserversource.go
  pkg/reconciler/testing/containersource.go
  pkg/reconciler/testing/cronjobsource.go
Labels: approved, cla: yes, lgtm, size/L

#1899 Format markdown
  docs/metrics.md
Labels: approved, cla: yes, lgtm, ok-to-test, size/M

#1901 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/test-infra/scripts/e2e-tests.sh
  vendor/knative.dev/test-infra/scripts/library.sh
  vendor/knative.dev/test-infra/scripts/presubmit-tests.sh
  vendor/knative.dev/test-infra/scripts/release.sh
Labels: approved, cla: yes, lgtm, ok-to-test, size/S

#1900 golang format tools
  test/base/resources/constants.go
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/XS

#1902 Fix remaining github.com/knative imports
  Gopkg.lock
  pkg/apis/eventing/v1alpha1/trigger_lifecycle.go
  pkg/reconciler/trigger/controller.go
  pkg/reconciler/trigger/trigger.go
  third_party/VENDOR-LICENSE
  vendor/github.com/knative/pkg/LICENSE
  vendor/github.com/knative/pkg/apis/duck/cached.go
  vendor/github.com/knative/pkg/apis/duck/doc.go
  vendor/github.com/knative/pkg/apis/duck/enqueue.go
  vendor/github.com/knative/pkg/apis/duck/interface.go
  vendor/github.com/knative/pkg/apis/duck/patch.go
  vendor/github.com/knative/pkg/apis/duck/proxy.go
  vendor/github.com/knative/pkg/apis/duck/register.go
  vendor/github.com/knative/pkg/apis/duck/typed.go
  vendor/github.com/knative/pkg/apis/duck/unstructured.go
  vendor/github.com/knative/pkg/apis/duck/v1alpha1/addressable_types.go
  vendor/github.com/knative/pkg/apis/duck/v1alpha1/condition_set.go
  vendor/github.com/knative/pkg/apis/duck/v1alpha1/conditions_types.go
  vendor/github.com/knative/pkg/apis/duck/v1alpha1/doc.go
  vendor/github.com/knative/pkg/apis/duck/v1alpha1/legacy_targetable_types.go
  vendor/github.com/knative/pkg/apis/duck/v1alpha1/register.go
  vendor/github.com/knative/pkg/apis/duck/v1alpha1/retired_targetable_types.go
  vendor/github.com/knative/pkg/apis/duck/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/knative/pkg/apis/duck/verify.go
  vendor/github.com/knative/pkg/third_party/mako/LICENSE
Labels: approved, cla: yes, lgtm, size/XXL

#1879 APIServerSource now supports filtering by controller apiVersion and kind
  cmd/apiserver_receive_adapter/main.go
  config/300-apiserversource.yaml
  pkg/adapter/apiserver/adapter.go
  pkg/adapter/apiserver/adapter_test.go
  pkg/adapter/apiserver/controller.go
  pkg/adapter/apiserver/controller_test.go
  pkg/adapter/apiserver/resource.go
  pkg/apis/sources/v1alpha1/apiserver_types.go
  pkg/apis/sources/v1alpha1/zz_generated.deepcopy.go
  pkg/reconciler/apiserversource/resources/receive_adapter.go
  pkg/reconciler/apiserversource/resources/receive_adapter_test.go
  test/e2e/source_api_server_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#1898 Upload all the test images in parallel.
  test/test_images/eventdetails/pod.yaml
  test/test_images/filterevents/pod.yaml
  test/test_images/heartbeats/pod.yaml
  test/test_images/helloworld/pod.yaml
  test/test_images/latency/pod.yaml
  test/test_images/latencymako/pod.yaml
  test/test_images/logevents/kodata/pod.yaml
  test/test_images/logevents/pod.yaml
  test/test_images/sendevents/pod.yaml
  test/test_images/sequencestepper/pod.yaml
  test/test_images/transformevents/pod.yaml
  test/upload-test-images.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#1909 Update knative/pkg to master
  Gopkg.lock
  Gopkg.toml
  pkg/broker/filter/stats_reporter.go
  pkg/broker/filter/stats_reporter_test.go
  vendor/knative.dev/pkg/Gopkg.lock
  vendor/knative.dev/pkg/Gopkg.toml
  vendor/knative.dev/pkg/apis/duck/patch.go
  vendor/knative.dev/pkg/controller/stats_reporter.go
  vendor/knative.dev/pkg/injection/sharedmain/main.go
  vendor/knative.dev/pkg/metrics/client.go
  vendor/knative.dev/pkg/metrics/config.go
  vendor/knative.dev/pkg/metrics/metrics.go
  vendor/knative.dev/pkg/metrics/metricskey/constants_eventing.go
  vendor/knative.dev/pkg/metrics/metricstest/metricstest.go
  vendor/knative.dev/pkg/metrics/monitored_resources_eventing.go
  vendor/knative.dev/pkg/metrics/record.go
  vendor/knative.dev/pkg/metrics/reflector.go
  vendor/knative.dev/pkg/metrics/stackdriver_exporter.go
  vendor/knative.dev/pkg/metrics/workqueue.go
  vendor/knative.dev/pkg/reconciler/testing/generate_name_reactor.go
  vendor/knative.dev/pkg/source/source_stats_reporter.go
  vendor/knative.dev/pkg/testutils/clustermanager/boskos/fake/fake.go
  vendor/knative.dev/pkg/testutils/clustermanager/client.go
  vendor/knative.dev/pkg/testutils/clustermanager/doc.go
  vendor/knative.dev/pkg/testutils/clustermanager/gke.go
Labels: approved, cla: yes, lgtm, size/XL

#1886 Add validation for sources API
  cmd/webhook/main.go
  pkg/apis/sources/v1alpha1/apiserver_defaults.go
  pkg/apis/sources/v1alpha1/apiserver_defaults_test.go
  pkg/apis/sources/v1alpha1/apiserver_validation.go
  pkg/apis/sources/v1alpha1/apiserver_validation_test.go
  pkg/apis/sources/v1alpha1/containersource_defaults.go
  pkg/apis/sources/v1alpha1/containersource_defaults_test.go
  pkg/apis/sources/v1alpha1/containersource_validation.go
  pkg/apis/sources/v1alpha1/containersource_validation_test.go
  pkg/apis/sources/v1alpha1/cron_job_defaults.go
  pkg/apis/sources/v1alpha1/cron_job_defaults_test.go
  pkg/apis/sources/v1alpha1/cron_job_validation.go
  pkg/apis/sources/v1alpha1/cron_job_validation_test.go
  pkg/reconciler/containersource/containersource_test.go
  pkg/reconciler/cronjobsource/cronjobsource_test.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/XL

#1870 tweaks to get tests to work with private registry
  test/README.md
  test/common/creation.go
  test/common/test_runner.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#1916 Format markdown
  test/README.md
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/XS

#1915 golang format tools
  pkg/apis/sources/v1alpha1/apiserver_validation_test.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/XS

#1919 Update knative/pkg.
  Gopkg.lock
  vendor/knative.dev/pkg/test/zipkin/util.go
Labels: approved, cla: yes, lgtm, size/S

#1917 Added throughput to existing latency image
  Gopkg.lock
  test/performance/README.md
  test/performance/latency-and-thpt-plot.plg
  test/performance/latency-plot.plg
  test/performance/thpt-plot.plg
  test/test_images/latencymako/aggregator.go
  test/test_images/latencymako/dev.config
  test/test_images/latencymako/sender_receiver.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#1883 Updates due to pkg changes
  pkg/broker/ingress/stats_reporter.go
  pkg/broker/ingress/stats_reporter_test.go
Labels: approved, cla: yes, lgtm, size/XS

#1929 golang format tools
  test/test_images/latencymako/aggregator.go
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/XS

#1930 Format markdown
  test/performance/README.md
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/S

#1931 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/signals/signal_posix.go
  vendor/knative.dev/pkg/test/mako/alerter/alerter.go
  vendor/knative.dev/pkg/test/mako/alerter/slack/config.go
  vendor/knative.dev/pkg/test/mako/alerter/slack/config.yaml
  vendor/knative.dev/pkg/test/mako/alerter/slack/message.go
  vendor/knative.dev/pkg/test/mako/config/benchmark.go
  vendor/knative.dev/pkg/test/mako/config/configmap.go
  vendor/knative.dev/pkg/test/mako/config/environment.go
  vendor/knative.dev/pkg/test/mako/config/testdata/config-mako.yaml
  vendor/knative.dev/pkg/test/mako/sidecar.go
  vendor/knative.dev/pkg/version/version.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/L

#1924 Properly configure the CronJobSource deployment resource requirements
  pkg/reconciler/cronjobsource/resources/receive_adapter.go
Labels: approved, cla: yes, lgtm, size/XS

#1927 Remove deprecated NewFixedWatcher
  pkg/reconciler/apiserversource/controller_test.go
  pkg/reconciler/broker/controller_test.go
  pkg/reconciler/channel/controller_test.go
  pkg/reconciler/containersource/controller_test.go
  pkg/reconciler/eventtype/controller_test.go
  pkg/reconciler/inmemorychannel/controller/controller_test.go
  pkg/reconciler/namespace/controller_test.go
  pkg/reconciler/parallel/controller_test.go
  pkg/reconciler/sequence/controller_test.go
  pkg/reconciler/subscription/controller_test.go
  pkg/reconciler/testing/factory.go
  pkg/reconciler/trigger/controller_test.go
Labels: approved, cla: yes, lgtm, size/S

#1890 Remove code from the NonCRD based channel time
  pkg/apis/eventing/v1alpha1/broker_lifecycle.go
  pkg/apis/eventing/v1alpha1/broker_lifecycle_test.go
  pkg/apis/eventing/v1alpha1/test_helper.go
  pkg/reconciler/broker/broker.go
  pkg/reconciler/broker/broker_test.go
  pkg/reconciler/broker/resources/channel.go
  pkg/reconciler/broker/resources/channel_test.go
  pkg/reconciler/broker/resources/subscription.go
  pkg/reconciler/broker/resources/subscription_test.go
  pkg/reconciler/subscription/subscription.go
  pkg/reconciler/subscription/subscription_test.go
  pkg/reconciler/testing/broker.go
Labels: approved, cla: yes, lgtm, size/L

#1926 Mark Dependency status as Unknown when the dependency object's generation is not equal
  pkg/reconciler/trigger/trigger.go
  pkg/reconciler/trigger/trigger_test.go
Labels: approved, cla: yes, lgtm, size/M

#1938 Format markdown
  test/performance/README.md
  test/test_images/performance/README.md
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/S

#1942 Adjust for breaking changes in knative/pkg.
  Gopkg.lock
  pkg/duck/resource.go
  pkg/duck/resource_test.go
  pkg/duck/sinks.go
  pkg/duck/sinks_test.go
  pkg/reconciler/apiserversource/apiserversource_test.go
  pkg/reconciler/containersource/containersource_test.go
  pkg/reconciler/cronjobsource/cronjobsource_test.go
  pkg/reconciler/eventtype/eventtype_test.go
  pkg/reconciler/namespace/namespace_test.go
  vendor/knative.dev/pkg/Gopkg.lock
  vendor/knative.dev/pkg/configmap/static_watcher.go
  vendor/knative.dev/pkg/controller/controller.go
  vendor/knative.dev/pkg/injection/sharedmain/main.go
  vendor/knative.dev/pkg/logging/config.go
  vendor/knative.dev/pkg/resolver/addressable_resolver.go
  vendor/knative.dev/pkg/testutils/clustermanager/gke.go
  vendor/knative.dev/pkg/tracker/enqueue.go
  vendor/knative.dev/pkg/version/version.go
Labels: approved, cla: yes, lgtm, size/L

#1937 Remove the unused containerName string
  pkg/reconciler/broker/broker_test.go
Labels: approved, cla: yes, lgtm, size/M

#1875 Remove test logger cache cleanup, and create one logger per test
  pkg/inmemorychannel/dispatcher_test.go
  pkg/reconciler/apiserversource/apiserversource_test.go
  pkg/reconciler/apiserversource/controller_test.go
  pkg/reconciler/broker/broker_test.go
  pkg/reconciler/broker/controller_test.go
  pkg/reconciler/channel/channel_test.go
  pkg/reconciler/channel/controller_test.go
  pkg/reconciler/containersource/containersource_test.go
  pkg/reconciler/containersource/controller_test.go
  pkg/reconciler/cronjobsource/controller_test.go
  pkg/reconciler/cronjobsource/cronjobsource_test.go
  pkg/reconciler/eventtype/controller_test.go
  pkg/reconciler/eventtype/eventtype_test.go
  pkg/reconciler/inmemorychannel/controller/controller_test.go
  pkg/reconciler/inmemorychannel/controller/inmemorychannel_test.go
  pkg/reconciler/inmemorychannel/dispatcher/controller_test.go
  pkg/reconciler/inmemorychannel/dispatcher/inmemorychannel_test.go
  pkg/reconciler/namespace/controller_test.go
  pkg/reconciler/namespace/namespace_test.go
  pkg/reconciler/parallel/controller_test.go
  pkg/reconciler/parallel/parallel_test.go
  pkg/reconciler/sequence/controller_test.go
  pkg/reconciler/sequence/sequence_test.go
  pkg/reconciler/subscription/controller_test.go
  pkg/reconciler/subscription/subscription_test.go
  pkg/reconciler/testing/factory.go
  pkg/reconciler/trigger/controller_test.go
  pkg/reconciler/trigger/trigger_test.go
Labels: approved, cla: yes, lgtm, size/M

#1944 Improve InMemoryChannel tracing
  Gopkg.lock
  pkg/channel/message.go
  pkg/channel/message_dispatcher.go
  pkg/channel/message_receiver.go
  pkg/channel/message_receiver_test.go
  test/conformance/helpers/channel_tracing_test_helper.go
  test/conformance/helpers/tracing/traces.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#1948 golang format tools
  pkg/reconciler/apiserversource/apiserversource_test.go
  pkg/reconciler/broker/broker_test.go
  pkg/reconciler/channel/channel_test.go
  pkg/reconciler/testing/factory.go
Labels: approved, cla: yes, lgtm, needs-ok-to-test, size/S

#1946 Ensure all of the Eventing binaries expose the new Go memstats.
  Gopkg.lock
  cmd/apiserver_receive_adapter/main.go
  cmd/broker/filter/main.go
  cmd/broker/ingress/main.go
  cmd/cronjob_receive_adapter/main.go
  cmd/webhook/main.go
  vendor/knative.dev/pkg/controller/controller.go
  vendor/knative.dev/pkg/injection/sharedmain/main.go
  vendor/knative.dev/pkg/logging/testing/util.go
  vendor/knative.dev/pkg/metrics/memstats.go
  vendor/knative.dev/pkg/signals/signal_posix.go
Labels: approved, cla: yes, lgtm, size/XL

#1933 InMemoryChannel Dispatcher refactor
  pkg/broker/context.go
  pkg/broker/filter/filter_handler.go
  pkg/broker/ingress/ingress_handler.go
  pkg/channel/event_dispatcher.go
  pkg/channel/event_dispatcher_test.go
  pkg/channel/event_receiver.go
  pkg/channel/event_receiver_test.go
  pkg/channel/fanout/fanout_handler.go
  pkg/channel/fanout/fanout_handler_test.go
  pkg/channel/history.go
  pkg/channel/history_test.go
  pkg/channel/message.go
  pkg/channel/message_dispatcher.go
  pkg/channel/message_dispatcher_test.go
  pkg/channel/message_receiver.go
  pkg/channel/multichannelfanout/multi_channel_fanout_handler.go
  pkg/channel/multichannelfanout/multi_channel_fanout_handler_test.go
  pkg/channel/swappable/swappable.go
  pkg/channel/swappable/swappable_test.go
  pkg/inmemorychannel/dispatcher.go
  pkg/reconciler/inmemorychannel/dispatcher/controller.go
  pkg/utils/context.go
  test/conformance/helpers/channel_tracing_test_helper.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XXL

#1947 Rename kn2 to kne
  pkg/reconciler/broker/broker_test.go
  pkg/reconciler/broker/resources/channel.go
  pkg/reconciler/broker/resources/channel_test.go
Labels: approved, cla: yes, lgtm, size/S

#1943 Make broker-imc perf test accept additional tags
  test/test_images/performance/aggregator.go
  test/test_images/performance/main.go
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/S

#1964 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/Gopkg.lock
  vendor/knative.dev/pkg/OWNERS_ALIASES
  vendor/knative.dev/pkg/configmap/filter.go
  vendor/knative.dev/pkg/configmap/store.go
  vendor/knative.dev/pkg/test/spoof/spoof.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/tools/tools.go
  vendor/knative.dev/pkg/testutils/clustermanager/gke.go
  vendor/knative.dev/pkg/webhook/config_validation_controller.go
  vendor/knative.dev/pkg/webhook/resource_admission_controller.go
  vendor/knative.dev/pkg/webhook/webhook.go
  vendor/knative.dev/test-infra/scripts/e2e-tests.sh
  vendor/knative.dev/test-infra/scripts/presubmit-tests.sh
  vendor/knative.dev/test-infra/scripts/release.sh
Labels: approved, cla: yes, lgtm, needs-ok-to-test, size/L

#1966 Graphana Dashboards for Broker/Trigger and Source metrics
  config/monitoring/metrics/grafana/100-grafana-dash-eventing.yaml
  pkg/broker/filter/stats_reporter.go
  pkg/broker/ingress/stats_reporter.go
Labels: approved, cla: yes, lgtm, size/XXL

#1963 golang format tools
  test/test_images/performance/main.go
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/XS

#1965 controllerSelector and labelSelector can now be empty
  pkg/apis/sources/v1alpha1/apiserver_types.go
  pkg/apis/sources/v1alpha1/zz_generated.deepcopy.go
  pkg/reconciler/apiserversource/resources/receive_adapter.go
  pkg/reconciler/apiserversource/resources/receive_adapter_test.go
  test/e2e/source_api_server_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/M

#1968 Source Registry
  config/300-apiserversource.yaml
  config/300-cronjobsource.yaml
Labels: approved, cla: yes, lgtm, size/M

#1971 Update OWNERS_ALIASES for Productivity WG
  OWNERS_ALIASES
Labels: approved, cla: yes, lgtm, size/XS

#1967 adding note on building images
  test/conformance/README.md
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#1972 E2E Tracing test - Strong trace assertions
  hack/set-span-id.patch
  hack/update-deps.sh
  pkg/broker/filter/filter_handler.go
  pkg/broker/filter/filter_handler_test.go
  pkg/broker/ingress/ingress_handler.go
  pkg/broker/metrics.go
  pkg/channel/event_dispatcher.go
  pkg/channel/event_receiver.go
  pkg/channel/event_receiver_test.go
  pkg/tracing/traceparent.go
  pkg/tracing/traceparent_test.go
  pkg/utils/context.go
  test/conformance/channel_tracing_test.go
  test/conformance/helpers/channel_tracing_test_helper.go
  test/conformance/helpers/tracing/traces.go
  test/test_images/transformevents/main.go
  vendor/go.opencensus.io/trace/trace.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XL

#1479 #1478 adapt to knative pkg user info annotating
  Gopkg.lock
  pkg/apis/eventing/register.go
  pkg/apis/eventing/v1alpha1/broker_defaults.go
  pkg/apis/eventing/v1alpha1/broker_lifecycle_test.go
  pkg/apis/eventing/v1alpha1/broker_types.go
  pkg/apis/eventing/v1alpha1/trigger_defaults.go
  pkg/apis/eventing/v1alpha1/trigger_lifecycle_test.go
  pkg/apis/eventing/v1alpha1/trigger_types.go
  pkg/apis/eventing/v1alpha1/user_info.go
  pkg/apis/messaging/v1alpha1/subscription_defaults.go
  pkg/apis/messaging/v1alpha1/subscription_lifecycle_test.go
  pkg/apis/messaging/v1alpha1/subscription_types.go
  pkg/apis/messaging/v1alpha1/user_info.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/L

#1975 Format markdown
  test/conformance/README.md
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/XS

#1974 Remove deprecated Channel.eventings CRD
  config/300-channel-eventing.yaml
Labels: approved, cla: yes, lgtm, size/L
