Repository knative/eventing, pull requests merged in 2023-01, with the labels that each got.

#6663 Do not use deprecated Configuration.Log in upgrade tests
  test/upgrade/upgrade_test.go
Labels: approved, lgtm, size/S, area/test-and-release

#6666 Adding a testcase with a long CE
  test/rekt/broker_test.go
  test/rekt/features/broker/feature.go
Labels: size/M, approved, lgtm, area/test-and-release

#6668 [release-1.8] Testcase for long message
  test/rekt/broker_test.go
  test/rekt/features/broker/feature.go
Labels: size/M, approved, lgtm, area/test-and-release

#6673 [main] Update community files
  OWNERS_ALIASES
Labels: size/XS, skip-review

#6672 Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/github.com/cloudevents/sdk-go/sql/v2/parser/expression_visitor.go
  vendor/github.com/cloudevents/sdk-go/sql/v2/utils/casting.go
  vendor/github.com/cloudevents/sdk-go/v2/alias.go
  vendor/github.com/cloudevents/sdk-go/v2/protocol/http/abuse_protection.go
  vendor/github.com/cloudevents/sdk-go/v2/protocol/http/protocol_lifecycle.go
  vendor/knative.dev/hack/presubmit-tests.sh
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Labels: size/M, approved, lgtm

#6676 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/knative.dev/pkg/test/upgrade/functions.go
  vendor/knative.dev/pkg/test/upgrade/logger.go
  vendor/knative.dev/pkg/test/upgrade/private_types.go
  vendor/knative.dev/pkg/test/upgrade/steps.go
  vendor/knative.dev/pkg/test/upgrade/suite_execution.go
  vendor/knative.dev/pkg/test/upgrade/types.go
  vendor/modules.txt
Labels: approved, lgtm, size/XL

#6675 Knative port broker channel flow topology test to rekt
  test/e2e/broker_channel_flow_test.go
  test/e2e/helpers/broker_channel_flow_helper.go
  test/rekt/broker_test.go
  test/rekt/features/broker/feature.go
Labels: approved, size/L, lgtm, area/test-and-release

#6678 [main] Update community files
  OWNERS_ALIASES
Labels: size/S, skip-review

#6681 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  test/rekt/features/broker/source_to_sink.go
  vendor/knative.dev/reconciler-test/pkg/environment/execution.go
  vendor/knative.dev/reconciler-test/pkg/environment/magic.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/prober.go
  vendor/knative.dev/reconciler-test/pkg/feature/feature.go
  vendor/modules.txt
Labels: approved, size/L, lgtm, area/test-and-release

#6680 [main] Update actions
  .github/workflows/knative-releasability.yaml
Labels: approved, size/XS, lgtm, skip-review

#6693 Reduce log noise in upgrade tests
  test/upgrade/prober/verify.go
Labels: approved, size/XS, lgtm, area/test-and-release

#6671 Populate a Subscriptions subscriber and reply namespace only if not set already
  pkg/reconciler/subscription/subscription.go
  pkg/reconciler/subscription/subscription_test.go
Labels: approved, size/L, lgtm

#6694 Fix reconciler-tests Prow job
  go.mod
  go.sum
  test/experimental/features/delivery_timeout/channel.go
  test/experimental/features/kreference_group/channel_to_channel.go
  test/experimental/features/kreference_group/sub_channel.go
  test/rekt/features/apiserversource/data_plane.go
  test/rekt/features/broker/control_plane.go
  test/rekt/features/broker/source_to_sink.go
  test/rekt/features/channel/control_plane.go
  test/rekt/features/channel/data_plane.go
  test/rekt/features/channel/features.go
  test/rekt/features/channel/helpers.go
  test/rekt/features/containersource/features.go
  test/rekt/features/pingsource/features.go
  test/rekt/features/sinkbinding/feature.go
  test/rekt/features/trigger/feature.go
  test/rekt/features/trigger/trigger_sink_resolution.go
  test/rekt/resources/channel_impl/channel_impl.go
  test/rekt/resources/eventlibrary/README.md
  test/rekt/resources/eventlibrary/eventlibrary.go
  test/rekt/resources/eventlibrary/eventlibrary.yaml
  test/rekt/resources/eventlibrary/eventlibrary_test.go
  test/rekt/resources/eventlibrary/events/doc.go
  test/rekt/resources/eventlibrary/events/three.ce
  vendor/knative.dev/reconciler-test/pkg/environment/logging.go
  vendor/knative.dev/reconciler-test/pkg/environment/magic.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/prober.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/rbac/rbac.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/sender/sender.go
  vendor/knative.dev/reconciler-test/pkg/feature/feature.go
  vendor/knative.dev/reconciler-test/pkg/k8s/wait.go
  vendor/modules.txt
Labels: approved, lgtm, size/XL, area/test-and-release

#6699 Log stream from system namespace in upgrade tests
  test/lib/logexporter.go
  test/upgrade/upgrade_test.go
  vendor/knative.dev/pkg/test/logstream/v2/interface.go
  vendor/knative.dev/pkg/test/logstream/v2/stream.go
  vendor/modules.txt
Labels: approved, size/L, lgtm, area/test-and-release

#6670 Change subscription patch logic to ensure resource version
  pkg/reconciler/subscription/subscription.go
  pkg/reconciler/subscription/subscription_test.go
  pkg/reconciler/testing/v1/subscription.go
Labels: approved, size/L, lgtm, ok-to-test

#6702 [main] Format Go code
  pkg/reconciler/subscription/subscription.go
  pkg/reconciler/subscription/subscription_test.go
Labels: approved, size/XS, lgtm
