Repository knative/eventing, pull requests merged in 2023-12, with the labels that each got.

#7483 [main] Update community files
  OWNERS_ALIASES
Labels: size/S, skip-review

#7304 V1B3 bump of Event Type
  docs/eventing-api.md
  hack/update-codegen.sh
  pkg/apis/eventing/v1beta3/doc.go
  pkg/apis/eventing/v1beta3/eventtype_conversion.go
  pkg/apis/eventing/v1beta3/eventtype_conversion_test.go
  pkg/apis/eventing/v1beta3/eventtype_defaults.go
  pkg/apis/eventing/v1beta3/eventtype_defaults_test.go
  pkg/apis/eventing/v1beta3/eventtype_lifecycle.go
  pkg/apis/eventing/v1beta3/eventtype_lifecycle_test.go
  pkg/apis/eventing/v1beta3/eventtype_types.go
  pkg/apis/eventing/v1beta3/eventtype_types_test.go
  pkg/apis/eventing/v1beta3/eventtype_validation.go
  pkg/apis/eventing/v1beta3/eventtype_validation_test.go
  pkg/apis/eventing/v1beta3/register.go
  pkg/apis/eventing/v1beta3/register_test.go
  pkg/apis/eventing/v1beta3/zz_generated.deepcopy.go
  pkg/client/clientset/versioned/clientset.go
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/client/clientset/versioned/typed/eventing/v1beta3/doc.go
  pkg/client/clientset/versioned/typed/eventing/v1beta3/eventing_client.go
  pkg/client/clientset/versioned/typed/eventing/v1beta3/eventtype.go
  pkg/client/clientset/versioned/typed/eventing/v1beta3/fake/doc.go
  pkg/client/clientset/versioned/typed/eventing/v1beta3/fake/fake_eventing_client.go
  pkg/client/clientset/versioned/typed/eventing/v1beta3/fake/fake_eventtype.go
  pkg/client/clientset/versioned/typed/eventing/v1beta3/generated_expansion.go
  pkg/client/informers/externalversions/eventing/interface.go
  pkg/client/informers/externalversions/eventing/v1beta3/eventtype.go
  pkg/client/informers/externalversions/eventing/v1beta3/interface.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/injection/informers/eventing/v1beta3/eventtype/eventtype.go
  pkg/client/injection/informers/eventing/v1beta3/eventtype/fake/fake.go
  pkg/client/injection/informers/eventing/v1beta3/eventtype/filtered/eventtype.go
  pkg/client/injection/informers/eventing/v1beta3/eventtype/filtered/fake/fake.go
  pkg/client/injection/reconciler/eventing/v1beta3/eventtype/controller.go
  pkg/client/injection/reconciler/eventing/v1beta3/eventtype/reconciler.go
  pkg/client/injection/reconciler/eventing/v1beta3/eventtype/state.go
  pkg/client/listers/eventing/v1beta3/eventtype.go
  pkg/client/listers/eventing/v1beta3/expansion_generated.go
Labels: approved, lgtm, size/XXL, area/test-and-release

#7481 Add triggers OIDC identity to Reply & DLS requests
  cmd/broker/filter/main.go
  config/brokers/mt-channel-broker/roles/filter-clusterrole.yaml
  config/channels/in-memory-channel/resources/in-memory-channel.yaml
  config/core/resources/broker.yaml
  config/core/resources/channel.yaml
  config/core/resources/subscription.yaml
  config/core/resources/trigger.yaml
  docs/eventing-api.md
  pkg/apis/duck/v1/delivery_types.go
  pkg/apis/duck/v1/zz_generated.deepcopy.go
  pkg/broker/filter/filter_handler.go
  pkg/broker/filter/filter_handler_test.go
  pkg/broker/filter/stats_reporter.go
  pkg/reconciler/broker/broker.go
  pkg/reconciler/broker/broker_test.go
  pkg/reconciler/broker/controller.go
  pkg/reconciler/broker/resources/subscription.go
  pkg/reconciler/broker/resources/subscription_test.go
  pkg/reconciler/broker/trigger/trigger.go
  pkg/reconciler/broker/trigger/trigger_test.go
  pkg/reconciler/sugar/trigger/path/path.go
  pkg/reconciler/sugar/trigger/path/path_test.go
  test/auth/features/oidc/broker.go
  test/auth/oidc_test.go
  test/rekt/resources/broker/broker.yaml
  test/rekt/resources/delivery/delivery.go
  test/rekt/resources/delivery/delivery.yaml
Labels: approved, lgtm, size/XL, area/test-and-release

#7424 Refactor new filters tests to use single feature set
  test/rekt/features/new_trigger_filters/feature.go
  test/rekt/features/new_trigger_filters/filters.go
  test/rekt/new_trigger_filters_test.go
  test/rekt/resources/broker/broker.go
Labels: approved, size/L, lgtm, area/test-and-release

#7486 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/cloud.google.com/go/compute/internal/version.go
  vendor/cloud.google.com/go/iam/CHANGES.md
  vendor/cloud.google.com/go/internal/.repo-metadata-full.json
  vendor/golang.org/x/crypto/cryptobyte/asn1.go
  vendor/golang.org/x/sys/execabs/execabs.go
  vendor/golang.org/x/sys/execabs/execabs_go118.go
  vendor/golang.org/x/sys/execabs/execabs_go119.go
  vendor/golang.org/x/sys/unix/fcntl.go
  vendor/golang.org/x/sys/unix/ioctl_linux.go
  vendor/golang.org/x/sys/unix/mkerrors.sh
  vendor/golang.org/x/sys/unix/syscall_bsd.go
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/unix/syscall_openbsd.go
  vendor/golang.org/x/sys/unix/syscall_solaris.go
  vendor/golang.org/x/sys/unix/syscall_zos_s390x.go
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zsyscall_linux.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_386.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_386.s
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_amd64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_amd64.s
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_arm.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_arm.s
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_arm64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_arm64.s
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_mips64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_mips64.s
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_ppc64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_ppc64.s
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_riscv64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_riscv64.s
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/golang.org/x/time/rate/rate.go
  vendor/golang.org/x/tools/internal/gocommand/invoke.go
  vendor/golang.org/x/tools/internal/gopathwalk/walk.go
  vendor/google.golang.org/api/internal/version.go
  vendor/modules.txt
Labels: approved, lgtm, size/XL

#7449 InMemoryChannel: reject request for wrong audience
  pkg/channel/event_receiver.go
  pkg/channel/fanout/fanout_event_handler.go
  pkg/reconciler/inmemorychannel/dispatcher/controller.go
  pkg/reconciler/inmemorychannel/dispatcher/inmemorychannel.go
  test/auth/oidc_test.go
Labels: approved, size/L, lgtm, area/test-and-release

#7466 Switch filters to use rfc-3339 for time string encoding
  pkg/eventfilter/attributes/filter.go
  pkg/eventfilter/attributes/filter_test.go
  pkg/eventfilter/subscriptionsapi/exact_filter_test.go
Labels: size/M, approved, lgtm

#7505 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/google.golang.org/api/internal/settings.go
  vendor/google.golang.org/api/internal/version.go
  vendor/google.golang.org/api/option/internaloption/internaloption.go
  vendor/google.golang.org/api/option/option.go
  vendor/google.golang.org/api/storage/v1/storage-api.json
  vendor/google.golang.org/api/storage/v1/storage-gen.go
  vendor/modules.txt
Labels: size/M, approved, lgtm

#7504 ContainerSource test with OIDC
  cmd/heartbeats/main.go
  test/auth/oidc_test.go
  test/rekt/features/containersource/features.go
  test/rekt/resources/containersource/containersource.go
  test/rekt/resources/containersource/containersource.yaml
Labels: size/M, approved, lgtm, area/test-and-release

#7501 Fix provisioning of sequences reply and steps audience
  config/core/resources/sequence.yaml
  pkg/reconciler/sequence/resources/subscription.go
  test/auth/features/oidc/sequence.go
  test/auth/oidc_test.go
  test/rekt/resources/sequence/sequence.go
  test/rekt/resources/sequence/sequence.yaml
Labels: approved, size/L, lgtm, area/test-and-release

#7506 Move containersource OIDC feature to test/auth
  test/auth/features/oidc/containersource.go
  test/auth/oidc_test.go
  test/rekt/features/containersource/features.go
Labels: size/M, approved, lgtm, area/test-and-release

#7395 Eventing TLS: Add E2E TLS test for Parallel
  pkg/reconciler/parallel/resources/subscription.go
  test/rekt/features/parallel/features.go
  test/rekt/features/parallel/readyness.go
  test/rekt/parallel_test.go
  test/rekt/resources/parallel/parallel.go
  test/rekt/resources/parallel/parallel.yaml
  test/rekt/resources/parallel/parallel_test.go
Labels: approved, size/L, lgtm, area/test-and-release

#7492 Refactor the code that rejects for wrong audience
  pkg/auth/token_verifier.go
  pkg/broker/filter/filter_handler.go
  pkg/broker/ingress/ingress_handler.go
  pkg/channel/event_receiver.go
Labels: size/M, approved, lgtm, area/test-and-release

#7507 Test Parallel with OIDC support
  test/auth/features/oidc/parallel.go
  test/auth/oidc_test.go
  test/rekt/resources/parallel/parallel.go
  test/rekt/resources/parallel/parallel.yaml
Labels: approved, size/L, lgtm, area/test-and-release

#7499 fix mt-broker-ingress watch Broker
  pkg/broker/ingress/ingress_handler.go
Labels: approved, lgtm, size/S, ok-to-test

#7511 Fix build issues for backports to release-v1.11
  test/rekt/resources/addressable/addressable.go
  test/rekt/resources/broker/broker.go
  test/rekt/resources/channel_impl/channel_impl.go
  test/rekt/resources/parallel/parallel.go
Labels: approved, lgtm, size/S, area/test-and-release

#7452 Authenticate Requests from ApiServerSources
  cmd/controller/main.go
  config/core/resources/apiserversource.yaml
  config/core/roles/controller-clusterroles.yaml
  pkg/adapter/v2/cloudevents.go
  pkg/adapter/v2/config.go
  pkg/adapter/v2/main.go
  pkg/adapter/v2/main_test.go
  pkg/apis/sources/register.go
  pkg/apis/sources/v1/apiserver_lifecycle.go
  pkg/auth/serviceaccount.go
  pkg/reconciler/apiserversource/apiserversource.go
  pkg/reconciler/apiserversource/apiserversource_test.go
  pkg/reconciler/apiserversource/controller.go
  pkg/reconciler/apiserversource/controller_test.go
  pkg/reconciler/apiserversource/resources/oidc_rolebinding.go
  pkg/reconciler/apiserversource/resources/receive_adapter.go
  pkg/reconciler/testing/v1/apiserversouce.go
  pkg/reconciler/testing/v1/listers.go
  test/auth/features/oidc/apiserversource.go
  test/auth/oidc_test.go
  test/rekt/resources/apiserversource/apiserversource.go
  test/rekt/resources/apiserversource/apiserversource.yaml
  vendor/knative.dev/pkg/client/injection/kube/informers/factory/filtered/fake/fake_filtered_factory.go
  vendor/knative.dev/pkg/client/injection/kube/informers/factory/filtered/filtered_factory.go
  vendor/knative.dev/pkg/client/injection/kube/informers/rbac/v1/role/fake/fake.go
  vendor/knative.dev/pkg/client/injection/kube/informers/rbac/v1/role/filtered/fake/fake.go
  vendor/knative.dev/pkg/client/injection/kube/informers/rbac/v1/role/filtered/role.go
  vendor/knative.dev/pkg/client/injection/kube/informers/rbac/v1/role/role.go
  vendor/knative.dev/pkg/client/injection/kube/informers/rbac/v1/rolebinding/filtered/fake/fake.go
  vendor/knative.dev/pkg/client/injection/kube/informers/rbac/v1/rolebinding/filtered/rolebinding.go
  vendor/modules.txt
Labels: approved, lgtm, size/XXL, area/test-and-release

#7510 Add parallel.ValidateAddress so that release-1.12 backports work
  test/rekt/resources/parallel/parallel.go
Labels: approved, size/XS, lgtm, area/test-and-release

#7517 [main] Format Go code
  pkg/reconciler/apiserversource/resources/oidc_rolebinding.go
Labels: approved, size/XS, lgtm

#7521 Use kmeta.ChildName() to generate OIDC service account name
  pkg/auth/serviceaccount.go
  pkg/auth/serviceaccount_test.go
Labels: approved, lgtm, size/S, ok-to-test

#7523 Remove Kubernetes 1.26 from KinD e2e tests
  .github/workflows/kind-e2e.yaml
Labels: approved, size/XS, lgtm

#7516 Add missing attribute filter tests
  pkg/eventfilter/subscriptionsapi/cesql_filter_test.go
  pkg/eventfilter/subscriptionsapi/exact_filter_test.go
  test/rekt/features/new_trigger_filters/feature.go
  test/rekt/features/new_trigger_filters/filters.go
Labels: size/M, approved, lgtm, area/test-and-release

#7524 Add Kubernetes 1.29.0 for KinD e2e tests
  .github/workflows/kind-e2e.yaml
Labels: approved, size/XS, lgtm
